build/
build-rel/
out/
bin/
*.ilk
*.pdb
*.obj
*.exe
*.lib
*.exp
limevsc.ini
*-layout-*.ini
.vs/
.vscode/
CMakeSettings.json
CMakeUserPresets.json
compile_commands.json
README.md
third_party/README.md
